$trigger1: "(max-width:991px)";

.hide {
	visibility: hidden;
	@media #{$trigger1} {
		visibility: visible;
	}
}
.sideMenu {
	position: fixed;
	z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	overflow: hidden;
	display: flex;
	transition: 0.3s ease-in;
	ul.sideMenuList {
		flex: 12;
		max-width: 500px;
		padding: 0;
		padding-top: 50px;
		height: 100vh;
		background-color: #fff;

		li {
			cursor: pointer;
			padding: 10px 20px;
			font-size: 1.2rem;
			transition: all 0.4s;
			&:hover {
				background-color: rgba(128, 128, 128, 0.2);
			}
		}
	}
	.closeBtnWrap {
		flex: auto;
		cursor: pointer;
		// background-color: rgba(0, 0, 0, 0.8);
		display: flex;
		align-items: center;

		.closeBtn {
			font-size: 40px;
			fill: #fff;
			margin-left: 10px;
			box-sizing: border-box;
			background-color: rgba(0, 0, 0, 0.8);
			border-radius: 50%;
		}
	}
}
.burgerMenu {
	z-index: 10;
	position: absolute;
	left: 30px;
	top: 50px;
	font-size: 1.5rem;
	color: var(--color-gray);
	cursor: pointer;
	display: flex;
}
.headerWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10%;
	height: 140px;
	position: relative;

	h1 {
		display: flex;
		align-items: center;
		padding: 0;
		margin: 0;

		img {
			margin-top: -15px;
			width: 200px;
		}
		@media #{$trigger1} {
			img {
				margin-top: -25px;
				width: 100px;
			}
		}
	}
	.search {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		height: 40px;
		border-bottom: 2px solid black;
		white-space: nowrap;
		padding: 5px;
		padding-right: 10px;
		width: 400px;
		display: flex;
		align-items: center;

		input {
			border: none;
			outline: none;
			flex: 1;
			padding: 0 15px;
			font-size: 0.95rem;
		}
		svg {
			font-size: 18px;
		}
		@media #{$trigger1} {
			top: 100px;
			width: 90%;
			max-width: 400px;
		}
	}
	.login_btnWrap {
		margin-top: 10px;
		.login_btn {
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			span {
				font-size: 14px;
				margin-left: 10px;
			}
		}
		@media #{$trigger1} {
			margin-top: -15px;
			.login_btn {
				span {
					font-size: 12px;
					margin-left: 5px;
				}
			}
		}
	}
	@media #{$trigger1} {
		padding-left: 60px;
		padding-right: 30px;
		margin-bottom: 50px;
	}
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 55px;
	margin-bottom: 50px;
	background-color: #000;
	@media #{$trigger1} {
		display: none;
	}
	ul.menuList {
		display: flex;
		height: 100%;
		gap: 25px;
		align-items: center;
		margin: 0;
		padding: 0;
		li {
			color: #fff;
			cursor: pointer;
			&:hover {
				color: #04bd9e;
			}
		}
	}
}
