$trigger1: "(max-width:991px)";

.hide {
	visibility: hidden;
	@media #{$trigger1} {
		visibility: visible;
	}
}
.sideMenu {
	position: fixed;
	z-index: 9999;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	overflow: hidden;
	display: flex;
	transition: 0.3s ease-in;
	.sideMenuList {
		flex: 12;
		max-width: 500px;
		padding: 0;
		padding-top: 50px;
		height: 100vh;
		background-color: #333;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			cursor: pointer;
			padding: 10px 20px;
			font-size: 1.2rem;
			transition: all 0.4s;
			color: #fff;
			&:hover {
				background-color: rgba(128, 128, 128, 0.2);
			}
		}
		.mSearch {
			white-space: nowrap;
			display: flex;
			align-items: center;
			gap: 10px;
			padding: 20px 20px;
			input {
				border: none;
				outline: none;
				padding: 0 15px;
				font-size: 0.95rem;
				width: 80%;
				height: 30px;
			}
			svg {
				font-size: 20px;
				fill: #fff;
			}
		}
	}
	.closeBtnWrap {
		flex: auto;
		cursor: pointer;
		display: flex;
		align-items: center;
		.closeBtn {
			font-size: 40px;
			fill: #fff;
			margin-left: 10px;
			box-sizing: border-box;
			background-color: rgba(0, 0, 0, 0.8);
			border-radius: 50%;
		}
	}
}
.burgerMenu {
	z-index: 10;
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.5rem;
	color: var(--color-gray);
	cursor: pointer;
	display: flex;
}
.headerWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10%;
	height: 65px;
	position: relative;

	h1 {
		display: flex;
		align-items: center;
		padding: 0;
		margin: 0;
		font-family: "Libre Baskerville", serif;
		font-size: 30px;
		@media #{$trigger1} {
			font-size: 18px;
			padding-top: 5px;
		}
	}
	.search {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		height: 40px;
		border-bottom: 2px solid black;
		white-space: nowrap;
		padding: 5px;
		padding-right: 10px;
		width: 400px;
		display: flex;
		align-items: center;

		input {
			border: none;
			outline: none;
			flex: 1;
			padding: 0 15px;
			font-size: 0.95rem;
		}
		svg {
			font-size: 16px;
		}
		@media #{$trigger1} {
			display: none;
		}
	}
	.login_btnWrap {
		margin-top: 10px;
		.login_btn {
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			span {
				font-size: 14px;
				margin-left: 10px;
			}
		}
		@media #{$trigger1} {
			margin-top: 0;
			.login_btn {
				span {
					font-size: 12px;
					margin-left: 5px;
				}
			}
		}
	}
	@media #{$trigger1} {
		box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
		padding-left: 70px;
		padding-right: 30px;
		margin-bottom: 50px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 999;
		background-color: #fff;
	}
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 55px;
	margin-bottom: 50px;
	background-color: #000;
	@media #{$trigger1} {
		display: none;
	}
	ul.menuList {
		display: flex;
		height: 100%;
		gap: 60px;
		align-items: center;
		margin: 0;
		padding: 0;
		font-size: 14px;
		font-weight: bold;
		li {
			color: #fff;
			cursor: pointer;
			&:hover {
				color: #04bd9e;
			}
		}
	}
}
