.categoryMap {
	padding-bottom: 20px;
}
.detailImgWrap {
	position: relative;
	.detailImg {
		width: 100%;
	}
	.tagWrap {
		position: absolute;
		right: 10px;
		bottom: 10px;
		display: flex;
		gap: 10px;
		.new,
		.choice {
			font-size: 14px;
			border-radius: 4px;
			padding: 3px 6px;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.6);
			@media (max-width: 550px) {
				font-size: 12px;
			}
		}
	}
}
.detailTitleWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	.detailTitle {
		font-size: 20px;
		font-weight: bold;
	}
	span.like {
		cursor: pointer;
		font-size: 20px;
		.heartFill {
			fill: var(--color-point);
		}
	}
}

.detailPrice {
	font-size: 30px;
	font-weight: 900;
	margin-top: 30px;
}
.detailComment {
	display: flex;
	padding: 35px 0;
	p {
		min-width: 120px;
	}
}
.detailOption {
	display: flex;
	align-items: center;
	padding: 35px 0;
	border-top: 1px solid #4c4c4c;
	border-bottom: 1px solid #4c4c4c;

	p {
		min-width: 120px;
	}
	.detailDropdown {
		border-radius: 0;
		font-size: 14px;
		padding: 0;
		height: 30px;
		line-height: 30px;
		padding-left: 10px;

		.form-select:focus {
			border-color: transparent;
			box-shadow: none;
		}
	}
}
.detailTotalPrice {
	display: flex;
	justify-content: space-between;
	padding: 35px 0;
	font-size: 20px;
	font-weight: bold;
}
.detailPurchase {
	.buy {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		color: #fff;
		background-color: #c2935f;
	}
	.basket {
		margin-top: 2px;
		display: flex;
		height: 50px;
		gap: 2px;
		> div {
			border: 1px solid #d4d4d4;
			flex: 1;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.detailPage {
	.mobileDetail {
		display: none;
	}
	img {
		padding-top: 50px;
		width: 100%;
	}
	@media (max-width: 991px) {
		.pcDetail {
			display: none;
		}
		.mobileDetail {
			display: block;
		}
	}
}
