.detailImg {
  width: 100%;
}

.detailTitleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.detailTitleWrap .detailTitle {
  font-weight: bold;
}
.detailTitleWrap span.like {
  cursor: pointer;
}
.detailTitleWrap span.like .heartFill {
  fill: var(--color-point);
}

.detailPrice {
  font-size: 20px;
}

.new {
  margin-top: 30px;
  color: var(--color-gray);
}

.choice {
  margin-top: 20px;
  margin-bottom: 30px;
}

.detailDropdown {
  margin-bottom: 20px;
}
.detailDropdown > * {
  width: 100%;
}

button {
  width: 100%;
}

.btn:hover {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}

.detailPage .mobileDetail {
  display: none;
}
.detailPage img {
  width: 100%;
}
@media (max-width: 991px) {
  .detailPage .pcDetail {
    display: none;
  }
  .detailPage .mobileDetail {
    display: block;
  }
}

.detailPageImg {
  width: 100%;
}