@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
:root {
  --color-point: #c81e2b;
  --color-gray: #666;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}